input, select, button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    height: 2.5em;
    padding: 0 .5em;
}

input[type="number"] {
    text-align: right;
}

span.label,
label {
    line-height: 2.5em;
}

header {
    font-size: 150%;
    margin: 10px;
}

div#tabs {
    width: 100%;
    display: flex;
}

div#tabs > button {
    flex-grow: 1;
    border: none;
    background: lightgray;
    padding: 10px 5px
}

div#tabs > button:not(:first-child) {
    border-left: solid black 1px;
}

div#tabs > button.active {
    background: darkgray;
    color: white;
    font-weight: bold;
} 

section {
    display: none;
}

section.active {
    display: block;
}

section > .row {
    padding: 5px;
    display: flex;
    flex-direction: column;
} 

section > .row > *:not(:first-child) {
    margin: .5em 0 0 0;
}



section#wochentage #wochentage-kalender {
    display: grid;
    grid-template-columns: repeat(7, 3em);
    grid-gap: 0px;
}

section#wochentage #wochentage-kalender > .dom {
    height: 2.5em;
    line-height: 2.5em;
    border: solid 1px black;
}

section#wochentage #wochentage-kalender > span {
    font-weight: bold;
    background: lightgray;
    text-align: center;
    padding-top: .1em;
}

section#wochentage #wochentage-kalender > button {
    text-align: right;
}

div.showAll {
    display: inline-flex;
    flex-wrap: wrap;
    border: 1px solid black;
}

div.showAll input {
    display: none;
}

div.showAll label {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 100%;
    line-height: 1.75em;
    padding-left: 0.25em;
    box-sizing: border-box;
}

div#kirchentag-dow {
    width: 6em;
    height: 15em;
}

div#kirchentag-rel {
    width: 3.5em;
    height: 6em;
}
section#kirchentag table th {
    text-align: left;    
    padding: .5em;
}

section#kirchentag table th:after {
    content: ":";
}

section#kirchentag table td {
    border: solid 1px grey;
    padding: .5em;
}

div.showAll input:checked + label {
    background-color: lightgray;
}

section#kirchentag #kirchentag-tag {
    width: 13em;
    height: 15em;
    overflow-y: auto;
}


@media screen and (min-width: 321px) {
    section > .row {
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;
    } 

    section > .row > *:not(:first-child) {
        margin: 0 0 0 .5em;
    }

    input[type="number"] {
        width: 5em;
    }
    
    .toggle {
        width: 8em;
        text-align: center;
    }

    select.showAll {
        height: auto;
        overflow-y: auto;
        border:none;
    	scrollbar-width: none;
    }

    section#alter > .row:nth-child(2) > input {
        margin-left: 15px;
        width: 10.5em;
    }

    section#alter > .row:nth-child(2) > label {
        margin-right: .5em;
        width: 4em;
    }

    section#kirchentag #kirchentag-tag {
        width: 12em;
        height: 15em;
        overflow-y: auto;
    }
}    

@media screen and (min-width: 416px) {
    section#alter > .row:nth-child(2) > input {
        margin-left: 15px;
        width: 10.5em;
    }

    section#alter > .row:nth-child(2) > label {
        margin-right: 8em;
        width: 4em;
    }
}

@media screen and (min-width: 525px) {
    section#alter > .row:nth-child(2) > input {
        margin-left: 15px;
        width: 10.5em;
    }

    section#alter > .row:nth-child(2) > label {
        margin-right: 0.5em;
        width: 3em;
    }
}

@media screen and (min-width: 556px) {
    section#alter div:nth-child(2n) {
        margin-left: 1em;
    }

    section#alter > .row:nth-child(2) > input {
        margin: 0 0 0 .5em;
        width: 5em;
    }

    section#alter > .row:nth-child(2) > input:first-child {
        margin-left: 0;
    }

    section#alter > .row:nth-child(2) > label {
        margin: 0 0 0 .5em;
        width: auto;
    }
}

@media screen and (min-width: 860px) {
    section#kirchentag #kirchentag-tag {
        height: auto;
    }
}

@media screen and (min-width: 1024px) {
    section#kirchentag #kirchentag-tag {
        width: 23em;
    }
    section#kirchentag #kirchentag-tag label {
        flex-basis: 50%;
    }
}

@media screen and (min-width: 1280px) {
    section#kirchentag #kirchentag-tag {
        width: 35em;
    }
    section#kirchentag #kirchentag-tag label {
        flex-basis: 33.33%;
    }
}

@media screen and (min-width: 1440px) {
    section#kirchentag #kirchentag-tag {
        width: 47em;
    }
    section#kirchentag #kirchentag-tag label {
        flex-basis: 25%;
    }
}

@media screen and (min-width: 1600px) {
    section#kirchentag #kirchentag-tag {
        width: 59em;
    }
    section#kirchentag #kirchentag-tag label {
        flex-basis: 20%;
    }
}

@media screen and (min-width: 1800px) {
    section#kirchentag #kirchentag-tag {
        width: 71em;
    }
    section#kirchentag #kirchentag-tag label {
        flex-basis: 16.66%;
    }
}

@media screen and (min-width: 2000px) {
    section#kirchentag #kirchentag-tag {
        width: 83em;
    }
    section#kirchentag #kirchentag-tag label {
        flex-basis: 14.28%;
    }
}

@media screen and (min-width: 2200px) {
    section#kirchentag #kirchentag-tag {
        width: 95em;
    }
    section#kirchentag #kirchentag-tag label {
        flex-basis: 12.5%;
    }
}

@media screen and (min-width: 2400px) {
    section#kirchentag #kirchentag-tag {
        width: 107em;
    }
    section#kirchentag #kirchentag-tag label {
        flex-basis: 11.11%;
    }
}