input, select, button {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid black;
    height: 2.5em;
    padding: 0 .5em;
}

input[type="number"] {
    text-align: right;
}

span.label,
label {
    line-height: 2.5em;
}

header {
    font-size: 150%;
    margin: 10px;
}

div#tabs {
    width: 100%;
    display: flex;
}

div#tabs > button {
    flex-grow: 1;
    border: none;
    background: lightgray;
    padding: 10px 5px
}

div#tabs > button:not(:first-child) {
    border-left: solid black 1px;
}

div#tabs > button.active {
    background: darkgray;
    color: white;
    font-weight: bold;
} 

section {
    display: none;
}

section.active {
    display: block;
}

section > .row {
    padding: 5px;
    display: flex;
    flex-direction: column;
} 

section > .row > *:not(:first-child) {
    margin: .5em 0 0 0;
}

@media screen and (min-width: 321px) {
    section > .row {
        display: flex;
        flex-direction: row;  
        flex-wrap: wrap;
    } 

    section > .row > *:not(:first-child) {
        margin: 0 0 0 .5em;
    }

    input[type="number"] {
        width: 5em;
    }
    
    .toggle {
        width: 8em;
        text-align: center;
    }

    select.showAll {
        height: auto;
        overflow-y: auto;
        border:none;
    	scrollbar-width: none;
    }

    select.showAll[size="20"]{
        border: 1px solid black;
        scrollbar-width: auto;
    }

    select.showAll:not([size="20"]) option {
        border-right: 1px solid black;
        border-left: 1px solid black;
    }

    select.showAll:not([size="20"]) option:first-child {
        border-top: 1px solid black;
    }

    select.showAll:not([size="20"]) option:last-child {
        border-bottom: 1px solid black;
    }

    section#alter > .row:nth-child(2) > input {
        margin-left: 15px;
        width: 10.5em;
    }

    section#alter > .row:nth-child(2) > label {
        margin-right: .5em;
        width: 4em;
    }
}    

@media screen and (min-width: 416px) {
    section#alter > .row:nth-child(2) > input {
        margin-left: 15px;
        width: 10.5em;
    }

    section#alter > .row:nth-child(2) > label {
        margin-right: 8em;
        width: 4em;
    }
}

@media screen and (min-width: 525px) {
    section#alter > .row:nth-child(2) > input {
        margin-left: 15px;
        width: 10.5em;
    }

    section#alter > .row:nth-child(2) > label {
        margin-right: 0.5em;
        width: 3em;
    }
}

@media screen and (min-width: 556px) {
    section#alter div:nth-child(2n) {
        margin-left: 1em;
    }

    section#alter > .row:nth-child(2) > input {
        margin: 0 0 0 .5em;
        width: 5em;
    }

    section#alter > .row:nth-child(2) > input:first-child {
        margin-left: 0;
    }

    section#alter > .row:nth-child(2) > label {
        margin: 0 0 0 .5em;
        width: auto;
    }
}


section#wochentage #wochentage-kalender {
    display: grid;
    grid-template-columns: repeat(7, 3em);
    grid-gap: 0px;
}

section#wochentage #wochentage-kalender > .dom {
    height: 2.5em;
    line-height: 2.5em;
    border: solid 1px black;
}

section#wochentage #wochentage-kalender > span {
    font-weight: bold;
    background: lightgray;
    text-align: center;
    padding-top: .1em;
}

section#wochentage #wochentage-kalender > button {
    text-align: right;
}

select.showAll > option {
    height: 1em;
    padding: .5em;
}

section#kirchentag table th {
    text-align: left;    
    padding: .5em;
}

section#kirchentag table th:after {
    content: ":";
}

section#kirchentag table td {
    border: solid 1px grey;
    padding: .5em;
}